// Color Scheme

// First Color Scheme


// Second Color Scheme


//Third Color Scheme

// Tipography

//Font Family


// Font Weight


// Font Sizes
$x-large: 25px;
$large: 20px;
$medium: 18px;
$small: 14px;
$x-small: 12px;